# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite / Vue / React build
public/
build/

# ZTAP SYSTEM IGNORE (CRITICAL SECRETS)
*.enc
*.pem
*.key
admin_token.txt
ACCESO_ADMIN.txt
GOLD_HASH.txt
vault.json
*.db

# ZTAP Extras
Tor/
test_audit.js
scratch/
